# Server
SERVER_ADDR=:8080

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=arbiter
POSTGRES_SSLMODE=disable

# Create an app at https://discord.com/developers/applications and add a
# redirect to the `DISCORD_REDIRECT_URI` below under "OAuth2 -> Redirects".
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8080/callback

# Goose
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=internal/storage/migrations
GOOSE_DBSTRING=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSLMODE}
