DATABASE_URL=postgres://arbiter:password@localhost:5432/arbiter?sslmode=disable

# Create an app at https://discord.com/developers/applications and add a
# redirect to the `DISCORD_REDIRECT_URI` below under "OAuth2 -> Redirects".
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:8080/callback

SERVER_ADDR=:8080

GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=internal/storage/migrations
GOOSE_DBSTRING=${DATABASE_URL}
